.form-control-dark {
  border-color: rgb(25, 95, 196);
}
 .container {
          margin:0px;
          height:100%;
        background-color: #1d75bc;
    }

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

