.write-post-container {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* hace colocar los elementos a los costados con espacios entre ellos */
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.user-profile span {
    font-size: 13px;
    color: #9a9a9a;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 10px;
}