
.post-row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* hace colocar los elementos a los costados con espacios entre ellos */

}

.post-container{
   border: 2px solid #F0F0F0;
   border-radius: 10px;
   margin-right: 10px;
   padding: 10px;
   text-decoration: none;

}

.link {
   color: black;
   text-decoration: none;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p {
    margin-bottom: -5px;
    font-size: 16px;
    font-weight: 500;
    font-weight: bold;
}

.user-profile small {
    font-size: 12px;
}

.user-profile span {
    font-size: 14px;
    color: #626262;
}

.post-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 10px;

}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #04AA6D;
  color: white;
}

.img-fluid{
 max-height: 300px;
    width: auto;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);

 }
.prueba{
 display: flex;
  justify-content: center;
  align-items: center;
  }
  #menu1:focus{
   cursor: pointer;
  }
    #menu2:focus{
     cursor: pointer;
    }
i{
    margin-right: 10px;
}
h1 {
  color: #6c2eb9;
  font-weight: normal;
  font-size: 40px;
  font-family: Arial;
  text-align : center;

 }

 .edit {
    color: black;
    text-decoration: none;
 }

