<!DOCTYPE html>
<html>
<head>
    <title>Registrarse</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--	<link rel="stylesheet" href="css/login.css">-->
    <link th:href="@{/css/login.css}" rel = "stylesheet">
</head>
<body>
<div class="container">
    <div class="container-right col-sm-12 col-md-6 col-lg-4 col-xl-4 bg-light p-3 text-dark bg-opacity-50">
        <a href="/"><i class="fa fa-angle-left fa-lg"></i></a>
        <form action="/">
            <img src="img/roshka-icon.jpeg">
            <h1 class="title">Roshkagram</h1>
            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div class="div">
                    <h5>Email</h5>
                    <input type="text" class="input" name="correo">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Contraseña</h5>
                    <input type="password" class="input" name="clave">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div class="div">
                    <h5>Confirmar Contraseña</h5>
                    <input type="password" class="input" name="claveConfirmar">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="fas fa-address-card"></i>
                </div>
                <div class="div">
                    <h5>Nombre</h5>
                    <input type="text" class="input" name="nombre">
                </div>
            </div>
            <div class="input-div pass">
                <div class="i">
                    <i class="far fa-address-card"></i>
                </div>
                <div class="div">
                    <h5>Apellido</h5>
                    <input type="text" class="input" name="apellido">
                </div>
            </div>
            <div class="i" id="terminos">
                <div class="form-check" id="checkboxx">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                    <label class="form-check-label" for="flexCheckDefault">
                        Acepto los terminos.
                    </label>
                </div>
            </div>
            <input type="submit" class="btn" value="Registrarse">
        </form>
    </div>
</div>
<!--<footer class="footer mt-auto py-3">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash;        <span class="text-muted">Place sticky footer content here.</span>&ndash;&gt;-->
<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--        <div class="text-center p-3">-->
<!--              <span id="copyright">-->
<!--              © 2022 Copyright: Bootcampers - PROMO MÁQUINA.-->
<!--              </span>-->
<!--        </div>-->
<!--        &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    </div>-->
<!--</footer>-->
<script type="text/javascript" src="js/login.js"></script>
</body>
</html>