<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Agregar Fotos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link th:href="@{/css/formulario_fotos.css}" rel = "stylesheet">
    </head>

    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm" style="background-color: #1d75bc !important;">
            <div class="container">

                <a href="#" class="navbar-brand d-flex align-items-center">
                    <img class="mt-1" th:src="@{/img/roshka.jpg}" alt="" width="40" height="40"
                         style="border-radius: 30px; float: left;"/>
                    <strong>Roshkagram</strong>
                </a>
                <div class="dropdown">
                    <button class="btn btn-outline-light me-2 dropdown-toggle" type="button" data-toggle="dropdown">Filtros
                        <span class="caret"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Filtro 1</a>
                        <a class="dropdown-item" href="#">Filtro 2</a>
                        <a class="dropdown-item" href="#">Filtro 3</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <img class="mt-1" th:src="@{/images/apagado.png}" alt="" width="20" height="20"
                                 style="border-radius: 30px; float: left;"/>Desconectarse
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <body>
        <div class="container border border-2 border-primary" id="contenedor-principal">
            <form enctype="multipart/form-data">
                <div class="row">
                    <div class="col-12">
                        <h3 class="page-header">Espacio para subir las fotos</h3><br>
                        <div>
                            <i class="far fa-folder-open fa-2x"></i>
                            <label for="archivos">Subir fotos o vídeos</label>

                        </div>
                        <input type="file" accept=".pdf,.jpg,.png, .jpge" multiple  id="archivos"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Listo</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>

</html>