
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm" style="background-color: #1d75bc !important;">
        <div class="container">

            <a href="#" class="navbar-brand d-flex align-items-center">
                <img class="mt-1" th:src="@{/images/roshka.jpg}" alt="" width="40" height="40"
                     style="border-radius: 30px; float: left;"/>
                <strong>Roshkagram</strong>
            </a>
            <div class="dropdown">
                <button class="btn btn-outline-light me-2 dropdown-toggle" type="button" data-toggle="dropdown">Filtros
                    <span class="caret"></span></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Filtro 1</a>
                    <a class="dropdown-item" href="#">Filtro 2</a>
                    <a class="dropdown-item" href="#">Filtro 3</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <img class="mt-1" th:src="@{/images/apagado.png}" alt="" width="20" height="20"
                             style="border-radius: 30px; float: left;"/>Desconectarse
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
