<!DOCTYPE html>
<html>

<head>
    <title>Roshkagram</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[ADD]-icon -->
    <link rel="icon" type="img/x-icon" href="/img/roshkaicon.ico">

    <!--	<link rel="stylesheet" href="">-->
    <link th:href="@{/css/home/home.css}" rel = "stylesheet">
    <link th:href="@{/css/home/home_head.css}" rel = "stylesheet">
</head>

<!--	<"Header">-->
<header style="position: relative;  top: 0; ">
    <div class="navbar navbar-dark bg-dark shadow-sm navegador" style="background-color: #1d75bc !important;">
        <div class="container">

            <a href="/" class="navbar-brand d-flex align-items-center">
                <img class="mt-1 rotate footer__logo" th:src="@{/img/roshka.jpg}" alt="" width="40" height="40"
                     style="border-radius: 30px; margin-right: 3px !important; "/>
                <strong class="titulo-2">Roshkagram</strong>
            </a>


            <div class="text-end">
                <div sec:authorize="!isAuthenticated()">
                    <a href="/login">
                        <button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</button>
                    </a>
                    <a href="/registro">
                        <button type="button" class="btn btn-warning" style="background-color: #FFFFFF !important; ">
                            Registrarse
                        </button>
                    </a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/albumes">
                        <button type="button" class="btn btn-outline-light me-2">Ver Albumes</button>
                    </a>
                    <a href="/logout">
                        <button type="button" class="btn btn-warning" style="background-color: #FFFFFF !important; ">
                            Cerrar Sesión
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<body>

<!--<"Contenido-1">-->

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="/img/social-content-redes-sociales.svg" class="img-fluid imagen-1" alt="" >
        </div>

        <div class="col-lg-6 contenido-1">
            <h1 class="text-center titulo-h1" style="padding-top: 9px;">¿Qué es Roshkagram?</h1>
            <h4 class="text-center">Roshkagram es la red social de Roshka. </h4>
            <h4 class="text-center">Un espacio especialmente destinado a compartir las fotos de los eventos realizados en la tribu permitiendo dejar comentarios y
                reacciones a los mismos además de filtrar los eventos como "uvdm, san juan, cumpleaños, etc.."</h4>
        </div>
    </div>
</div>

<!--<"Estilo de Texto contenido-1">-->
<style>
      h1 {
        color: #1d75bc;
        font-family: fantasy;
        line-height: 3;

      }

      h4 {
        font-family: "Consolas", monospace;
        color: #044170;
        font-size: 1.3rem;
        line-height: 2;
      }

      .footer__logo {
        float: left;
      }

    </style>



<!--<"Contenido-2">-->



<div class="container">
    <div class="row">
        <div class="col-lg-12">
        </div>
    </div>
</div>


<!--Contenido-3-->


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg">
                                <div class="row row-cols-1 row-cols-md-3">
                                    <div class="col oscilacion-c3">
                                        <div class="card c3">
                                            <video autoplay="" class="content-centering c3" loop="" muted="" playsinline="" poster="https://lh3.googleusercontent.com/vdAi4ggQ-kW4LhwQw4lN9z1Go09gvJKnvZwHjvJygyrRc6qbeQHQ1CCGTg2xI5EE5K3c26wZTSxKgIxATgdD7_oJwcCtr0W2D9x18G8" role="tab" width="100%"><source src="https://kstatic.googleusercontent.com/files/9d95deb4a50cfe478f85134619179770aede09907068d2a5dc367a6fb1f1ee9b05cb2850761bff5f1056cd085f388367ad83f5611b1487518fe2f0c90168db55" type="video/mp4"><source src="https://kstatic.googleusercontent.com/files/2ae1cd4b84a1f389d2183cb79a55e779d33f34c26d2ff3a067d5959f0a86d502a987816df37cc52d477ad2dba1a463e4d2dc9ad039d34c6c2d89cc80719ce65b" type="video/webm"></video>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Cuenta</h5>
                                                <p class="card-text text-center h-220 d-inline-block"
                                                   style="height: 108px;">Registra de forma segura tu cuenta para acceder a la plataforma Roshkagram</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col oscilacion-c3" >
                                        <div class="card c3">
                                            <video autoplay="" class="content-centering c3" loop="" muted="" playsinline="" poster="https://lh3.googleusercontent.com/wofiCyQEbszkJpnMdFW7mLsnODDy1oziISRmIpfNWZm-XGGiq7BleN9YiLqf84be_T_rlfqshJO0zh_-XNRy_obnjan_-m2AQobOH8U" role="tab" width="100%"><source src="https://kstatic.googleusercontent.com/files/a81d8778814d13b565e10d68adf007716a69c01e51856ac9db73586f7e9dbd0b3d35e514992e9991ca144dd6235f2cd0ae0c80ad526a4e8fd10f129855b54b66" type="video/mp4"><source src="https://kstatic.googleusercontent.com/files/2a904519ad921dfd3cd94e431256c4eb309901b1fad6e06f7d46641a4175a0275ab61a63aef0cb95d1ea9a7138224cb2f1b7bcfa087a65d5a74d0aaedcc24d66" type="video/webm"></video>
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Seguridad</h5>
                                                <p class="card-text text-center h-220 d-inline-block"
                                                   style="height: 107px;">Usamos tu información de seguridad solo para verificar tu identidad y detectar si tienes un problema con la cuenta. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col oscilacion-c3" >
                                        <div class="card c3">
                                            <img src="/img/pagina-sr.gif" class="img-circle c3" alt="" id="">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Conectividad</h5>
                                                <p class="card-text text-center h-220 d-inline-block"
                                                   style="height: 110px;">En la plataforma Roshkagram podras compartir, reacionar y comentar a las activadades realizadas en Roshka.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>

<!-- Fotoer. -->

<footer class="new_footer_area bg_color movimiento-footer">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                         style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Direccion</h3>

                        <address>
                            <p>Tte. Cusmanich 867 c/ Defensa Nacional<a href="https://g.page/Roshka?share" target="_blank"><img
                                    src="/img/icons8-google-maps.svg" alt="" height="25" width="25" class="footer__logo"></a></p>
                            <p>Código postal 1409</p>
                            <p>Asunción, Paraguay</p>
                        </address>

                        <p class="mchimp-errmessage" style="display: none;"></p>
                        <p class="mchimp-sucmessage" style="display: none;"></p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Contacto</h3>
                        <ul class="list-unstyled f_list">
                            <li class=" Send Email"><a href="mailto:info@rohska.com" target="_blank" class="textoEnviarMail" style="text-decoration: none;"><span style="margin-left:5px">Envianos un correo</span><img src="/img/Email-icono.png" alt="" height="22" width="22" class="footer__logo" style="color: #white;"></a></li>
                            <li class=" Send Email"><a href="tel:59521204252" target="_blank" class="textoEnviarMail" style="text-decoration: none;"><span style="margin-left:5px">Llámanos</span><img src="/img/telefono-icono.png" alt="" height="19" width="19" class="footer__logo" style="color: #white;"></a></li>
                            <li><a></a></li>
                            <li><a>+ 595 21 204 252</a></li>
                            <li><a>+ 595 21 214 884</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18">Info</h3>
                        <ul class="list-unstyled f_list">
                            <li><a class="t-1" href="https://www.roshka.com/">Página principal de Roshka</a></li>
                            <li><a class="t-2" href="https://www.roshka.com/about/">Sobre nosotros</a></li>
                            <li><a class="t-3" href="https://www.roshka.com/jobs/">Trabaja con nosotros</a></li>
                            <li><a class="t-4" href="https://www.roshka.com/contact/">Contáctanos</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                         style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 ">Redes Sociales</h3>
                        <div class="f_social_icon">
                            <a class="icon-1" href="https://www.facebook.com/roshkadev/" target="_blank">
                                <img src="/img/social-fb.svg" alt="" height="25" width="35">
                            </a>

                            <a class="icon-1" href="https://twitter.com/roshkadev" target="_blank">
                                <img src="/img/social-twitter.svg" alt="" height="25" width="35">

                                <a class="icon-1" href="https://www.instagram.com/roshkapy" target="_blank">
                                    <img src="/img/social-ig.svg" alt="" height="25" width="35">
                                </a>

                                <a class="icon-1" href="https://www.linkedin.com/company/roshka/" target="_blank">
                                    <img src="/img/social-linkedin.svg" alt="" height="25" width="35">
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7">
                    <p>  Todo Los Derechos Reservado Roshka S.A Paraguay-Asuncion<a href="https://www.roshka.com/"
                                                                                  target="_blank"><img src="/img/roshkaicon.ico" alt="" height="18" width="18" class="footer__logo"></a></p>
                </div>
                <div class="col-lg-6 col-sm-4 text-right">
                    <p>Promocion Maquina <i class="icon_heart"></i> <a class="footer_logo" href="https://www.youtube.com/watch?v=OK4RJA78E9Q"target="_blank">🐱‍🏍</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

</html>