<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!--	<link rel="stylesheet" href="css/login.css">-->
	<link th:href="@{/css/login.css}" rel = "stylesheet">
</head>
<body>
	<div class="container">
        <!-- <div class="container-left col-sm-12 col-md-4 col-lg-4 col-xl-4 bg-light p-2 text-dark bg-opacity-25">
            <img src="imagen/roshka.png">
        </div> -->
        <div class="container-right col-sm-12 col-md-6 col-lg-4 col-xl-4 bg-light p-3 text-dark bg-opacity-50">
            <form action="index.html">
				<img src="images/roshka-icon.jpeg">
				<h1 class="title">Roshkagram</h1>
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="div">
           		   		<h5>Correo</h5>
           		   		<input type="text" class="input">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="i"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="div">
           		    	<h5>Contraseña</h5>
           		    	<input type="password" class="input">
            	   </div>
            	</div>
            	<a href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/login.js"></script>
</body>
</html>
