/*
1440 x 2560
*/
html, body{
    height:100%;
    margin: 0;
  }
.contenedoPrincipal{       

    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
}
/* contenedor grande */
.container{
    height :100vh;
    /*width :80vh;*/
    /*background:black;*/

}

/*.container2{
    /*background: yellow;
    width: 10%;
    display: flex;
    height: auto;
    float: right;

}*/
.coontainer3{
    background: white;
    width: 35%;
    padding-left:  1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    height: auto;
    
   
}
.imagenes{
    max-width: 100%;
    max-height: 100%;
}
.imagenPerfil{
    border-radius: 30px; 
    float: left;
    margin-right: 0.5rem;
    width:20%;
    height:25%;
}

.cajaComentario{
    width: 100%;
    margin-top: 1rem; 
    background:rgb(223, 222, 222); 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;  
    border-radius:7px;       

}

h2{
    font-size: 16px;
}
p{
    font-size: 12px;
}
.form-group{
    margin-top: 1rem;
    position:sticky;
    line-height: 2;

}
.reacciones{
    display: flex;
    letter-spacing: 5%;
    margin-top: 1rem;

}
.pComentario{
    letter-spacing: 0px;
    margin-left: 0.5rem;
    font-size:100%;

}
.nombe{
    margin-top: 0.5rem;
    margin-left: 1rem;
    font-weight: bold;
}

.cajaScroll{
padding-right: 0.5rem;
overflow: scroll;
height: 60%;
}
.titulo{
    font-size: 1.5rem;
}
.descripcion{
    font-size: 1rem;
    font-style: italic;
}
.iconoSiguiente{
    
    font-size:48px;
    color: rgb(247, 236, 236);
    margin-left: 51rem;
    position: absolute;   
    margin-top: 8rem; 
    
}

.iconoAnterior:hover{
    color: rgb(24, 22, 22);
    
}
.iconoSiguiente:hover{
    color: rgb(8, 8, 8);
    
}

.iconoAnterior{
    color: rgb(247, 236, 236);
    font-size:48px;    
    position: absolute; 
    margin-left: 1.5rem;
    margin-top: 8rem; 
     
}
.iconoDireccion{
    margin-top: 20%;
}
.iconoEmogi{

    font-size:2rem;
   
}

/*@media only screen and (max-width: 768px) {*/
    /* For mobile phones: */
    .container2{
        background: yellow;
        width: 100%;   
        height: auto;
                
    }

    .coontainer3{
        background: white;
        width: 100%;  
        height: auto;
        
              
    }

  .imagenes{       
    width: 100%;
    height:100%;
    }

    .contenedoPrincipal{    
    
    background: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0rem;
    padding-right: 0rem;
    }

    .imagenPerfil{
        border-radius: 30px; 
        float: left;
        margin-right: 0.5rem;
        width:3%;
        height:3%;
    }

    .cajaScroll{
        padding-right: 0.5rem;    
        width:100%;           
        overflow: scroll;
        height: 6rem;
        }

    .titulo{
            font-size: 1rem;
        }
    .descripcion{
            font-size: 0.7rem;
        }
    .cajaComentario{
            margin-top: 0.5rem; 
            background:rgb(223, 222, 222); 
           
        }

    .iconoSiguiente{    
        
         margin-left: 40rem;
        
         margin-top: 2rem; 
            
        }
    .iconoAnterior{ 
        
                     
      margin-top: 2rem; 
               
     }

     h2{
        margin: 0;
        font-size: 12px;
    }
    p{
        margin: 0;
        font-size: 10px;
    }

    .reacciones{

     
    letter-spacing:10px;
    margin-top: 0.2rem;
        

    }
    .iconoEmogi{

        font-size:1.5rem;
       
    }
.form-control textarea{
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}
 }
 /*relacion tamaño aspecto img*/
img{
    max-height: 90vh;
    width=auto;
}

.carousel-item{
    /*background:black;*/
}
.scrol{
    height: 70vh;
}

.fijo{

}